<h2><%= link_to_unless_current @post.title, post_path(@post) %></h2>
<%= simple_format @post.body %>

 <%= link_to 'Edit', edit_post_path(@post), class: 'submit_btn' %>
 <%= link_to 'Delete', post_path(@post), method: :delete, class: 'submit_btn' %>  </br>
 <%= link_to 'Home', posts_path, class: 'link' %>

<h2>Comments</h2>
<div id="comments">
  <%= render :partial => @post.comments %>
</div>

<%= form_for [@post, Comment.new] do |f| %>
    <p>
      <%= f.label :body, "New comment" %><br/>
      <%= f.text_area :body %>
    </p>
    <p><%= f.submit "Add comment" %></p>
<% end %>